**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/stitch_orpay
**/uiout-test
**/orpayresimler
**/AjanKurallari
**/AGENTS.md
**/KURALLAR.md
**/*.md
**/*.user
**/*.suo
**/appsettings.Development.json
**/launchSettings.json
**/.idea
**/TestResults
**/Yedekler
**/*.db-journal
**/obj/**
**/bin/Release/**
**/wwwroot/css/temalar/**/*.gz
**/wwwroot/css/temalar/**/*.br
