@media (max-width: 768px) {
    .blazorpdf__icon {
        width: 0.5em;
        height: 0.5em;
    }
}

.blazorpdf__icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    font-size: 1.65rem;
}